.form-group {
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  margin-top: 10px;
}

.form-input:focus {
  outline: none;
  border-color: var(--primary);
}